<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="awsm.min.css">
    </head>
    <body>
        <form method="post">
            <title>INSERT QUERY</title>
                <textarea name="prompt" placeholder="TEXT" rows="15" cols="60">
                    {{request.form['prompt']}}
                </textarea>
                <br>
                <button type="sumbit">SEND</button>
            <p>{{ prompt }}</p>
        </form>
    </body>
</html>